<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %date from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" >
    <appender-ref ref="ASYNCSTDOUT"/>
  </logger>
  <logger name="application" level="INFO" />
  <root level="WARN">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

  <!-- TODO remove these before release BGC-83 -->
  <logger name="controllers.EventController" level="DEBUG" >
    <appender-ref ref="ASYNCSTDOUT"/>
  </logger>
  <logger name="controllers.UserActionController" level="DEBUG" >
    <appender-ref ref="ASYNCSTDOUT"/>
  </logger>
  <logger name="controllers.HelpController" level="DEBUG" >
    <appender-ref ref="ASYNCSTDOUT"/>
  </logger>
  <logger name="db.RedisDbHandler" level="DEBUG" >
    <appender-ref ref="ASYNCSTDOUT"/>
  </logger>
  <logger name="services.SlackService" level="DEBUG" >
    <appender-ref ref="ASYNCSTDOUT"/>
  </logger>
  <!-- end of log settings to be removed -->

</configuration>
